<footer class="footer_css_tricks">
    <div class="container text-center fst-italic">
      <hr class="mb-xl-5" />
      <span class="text-muted">UG Final Year Project Work @2022 </span>
      <!-- <br /> -->
      <span class="text-muted"
        >Jadavpur University, Department of Information Technology,
        Kolkata</span
      >
      <br />
      <span class="text-muted">Developed By : </span>
      <br />
      <span class="text-muted">
        [Twisted Edwards Curve Implementation, Web Interface] : Aditya Saha
        <a href="mailto: adityacont@gmail.com">adityacont@gmail.com</a> & Ayan
        Ghosal
        <a href="mailto: ayan.ghosal007@gmail.com"
          >ayan.ghosal007@gmail.com</a
        >
      </span>
      <br />
      <span class="text-muted">
        [Short Weirstrass Curve Implementation] : Gargi Ghosal
        <a href="mailto: ghosalgargi762@gmail.com"
          >ghosalgargi762@gmail.com</a
        >
        & Agni Saha
        <a href="mailto: agnisaha7799@gmail.com">agnisaha7799@gmail.com</a>
      </span>
      <br />
      <span class="text-muted">
        [Montgomery Curve Implementation] : Suman Mondal
        <a href="mailto: mondalsuman2001s@gmail.com"
            >mondalsuman2001s@gmail.com</a
        >
        , Sandip Maity
        <a href="mailto: sandip1999maity@gmail.com"
            >sandip1999maity@gmail.com</a
        >
        & Sagnik Haldar
        <a href="mailto: sagnikh2@gmail.com">sagnikh2@gmail.com</a>
      </span>
      <br />
      <span class="text-muted"
        >Under the guidance of Prof. Utpal Kumar Ray
        <a href="mailto: utpal.ray@jadavpuruniversity.in"
          >utpal.ray@jadavpuruniversity.in</a
        >
        <!-- <br /> -->
        , Mentorship of Mr Sujay Kumar Paul
        <a href="mailto: sujaykumarpaul@gmail.com"
          >sujaykumarpaul@gmail.com</a
        >
      </span>
    </div>
  </footer>